# Configurações do Banco de Dados
DB_HOST=boj´cwjbihow
DB_PORT=400465645653535
DB_NAME=test
DB_USER=h8Rt3t3t3trwrgergesg
DB_PASS=pC7WWRxLbdfghereu25sh3dtjwrjtyjtykjtyktkjgjhmkyrh,jyu,myj

# Configuração do Servidor
PORT=3001

# Opções de inicialização
SKIP_DB_ON_ERROR=false